/* style.css */
body {
  background: #333;
  color: #e7d6eb;
  font-size: 25px;
  font-family: Roboto;
  text-align: center;
}
h1 {
  font-family: Raleway;
  color: #00005c;
  font-weight: bold;
  font-size: 38px;
}
h2 {
  font-family: Oswald;
  color: #6a097d;
  font-weight: bold;
  font-size: 26px;
  text-align: center;
}

a:hover {
  text-decoration: none;
  color: #6a097d;
}

img {
  text-align: center;
}

#about {
  align-content: justify;
  margin-top: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(221, 204, 204);  
  font-size: 0.9em;
  text-align: center;
  padding: 50px;  
}

#banner {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  /*background-image: url("../images/background.png");*/
  /*background-size: cover;  */
  padding: 50px;
  color: white;
  text-shadow: 1px 1px 8px black;
}
#banner h1 {
  color: gainsboro;
  font-size: 8rem;
  font-family: Felipa;
  letter-spacing: 0.7rem;
}
#banner p {
  color: white;
  opacity: 0.8;
  font-size: 30px;
  font-weight: lighter;
}

.card  {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: bold;	
  border: rgb(237,237,237) solid; 
	border-radius: 5px;
	color: #e7d6eb;
  padding: 25px;
  margin: 15pt; 
  background-repeat: no-repeat;
  background-size: 100%;
  height: 200px;
	width: 200px;
  text-shadow: 2px 2px 2px grey;  
}

.container a {
  color: #e7d6eb !important;
}

.container a:hover {
  color: #a73dbd !important;
}

.container {
  display: flex;
  flex-direction: row;
  align-content: center;  
  justify-content: center;
  
  
}


#footer {
  margin-top: 20px;
  padding: 30px;
  background: #333;
  color: lightgrey;
}

#footicon {
  list-style-type: none;
}

#footer a {
  color: lightgrey;
  font-size: 28px;
}
#footer a:hover {
  color: white;
}
#footer p {
  margin-top: 20px;
  font-size: 0.7em;
}

#footer span {
  color: lightgrey;
  font-size: 10px;
}

/* Grids */


.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;  
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  
}


.cards {
  display: grid;
  grid-template-columns: auto auto auto auto; /* Insira a quantidade de colunas aqui */
  grid-gap: 16px;
  width: 100%;
  margin: auto;  
}

.row img {
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  max-width: 400px;
  
}

.fab:hover, .fab:active { 
 -webkit-transform: scale(1.2);
 -moz-transform: scale(1.2);
 -ms-transform: scale(1.2);
 -o-transform: scale(1.2);
 transform: scale(1.2); 
}

.img_test {
  max-width: 100%;
  height: auto;
}

/*
@media screen and (max-width: 600px) {
  .card { 
     float: none; 
  }
}
*/