
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    text-decoration:none; 
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    font-family: Georgia, serif;
    
}

#top {    
    position: fixed;
    margin-top: 0;
    width: 100%;    
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    min-height: 50px;
    margin: 0 auto 0 auto;
    z-index: 1;
}

#topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    max-width: 960px;
    margin: 0 auto 0 auto;
    min-height: 50px;
}

#topbar_logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-height: 30px;
}

#topbar_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
#menu_item {
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-evenly;
    align-items: center;
}

#menu_item a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  #menu_item a:hover:after { 
    width: 100%; 
    left: 0; 
  }

.menuitem {
    margin: 0 10px 0 10px;
}

.menuitem a {
    color: white;
}


#intro {
    background-image: url("./img/background.png");
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    text-align: center;
    min-height: 460px;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    font-weight: bolder;
    margin: auto;
    text-shadow: black 0.4em 0.4em 0.8em;     
    background-color: #D6D3C8;
    max-height: 100px;
}

#intro h2 {
    font-family: Roboto;    
}

#intro h3 {
    padding: 20px;
    font-style: italic;
    font-size: 0.5em;
    font-weight: normal;    
}

#descDiv {
    background-color: #E9E5D9;
    

}

#carouselDiv {
    background-color: white;
    max-width: 300px;
}

.button {
    text-decoration:none; 
    text-align: center;
    line-height: 40px;
    max-width: 120px;
    height: 40px;
    border: 1px solid black;    
    align-items: center; 
    
}

.button:hover {
    cursor: pointer;
    background-color:#202020;
    
}



#newscontent {
    background-color: #E9E5D9;
    
}

#newsletter {
    margin: 30px auto 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 700px;    
    min-height: 100px;
    
}

#newsText{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#newsText h2{
font-size: 1.5em;
font-weight: 800;
}

#newsText h4{
font-style: italic;
    }

#newssignin {
    display: flex;
    flex-direction: row;

}

#newssignin a {
    background-color: #202020;
    color: white;
}

#newssignin input {
    background-color: #E9E5D9;
    color: white;
}


::placeholder{
    background-color: inherit;
    color: #C2BDB4;
    font-size: 1.4em;
    font-weight: bold;
    font-style: italic;
    line-height: 100%;
    font-family: Georgia, serif;
    align-self: center;
}

#footer_content {
    background-color: #D6D3C8;    
}

#footer_box {
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 700px;    
    font-size: 0.8em;
}


#logo_footer {
    width: 150px;
}

#logo_header {
    width: 150px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
  }
  
  html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
  }


  #social_media {
    
    padding: 30px;
    background: #333;
    color: lightgrey;
  }
  
  #social_media {
    list-style-type: none;
  }
  
  #social_media a {
    color: lightgrey;
    font-size: 28px;   
  }

  #social_media a:hover {
    color: white;
  }
  #social_media p {
    margin-top: 20px;
    font-size: 1.2em;
  }
  
  #social_media span {
    color: lightgrey;
    font-size: 10px;
  }
  
  #socialIconsBar li {
    display: inline;
    margin: 15px;
  }

  .album-item {
      margin: 20px auto 20px auto;      
  }


/*
 * Blog name and description
 */
 .blog-title {
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: 400;
  }
  .blog-description {
    font-size: 1.1rem;
    color: #999;
  }
  
  @media (min-width: 40em) {
    .blog-title {
      font-size: 3.5rem;
    }
  }
  
  /* Pagination */
  .blog-pagination {
    margin-bottom: 4rem;
  }
  .blog-pagination > .btn {
    border-radius: 2rem;
  }

  
/* Blog posts
 */
.blog-post {
  margin-bottom: 4rem;  
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}